{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django Crud</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nisi soluta distinctio nam mollitia, minus illo dolores, iusto neque sint placeat odio eius doloribus. Ullam alias nesciunt ducimus rem nostrum.
Perferendis, repellendus in eveniet quos ipsa neque quis culpa doloremque voluptates voluptatibus libero. Quisquam perspiciatis architecto beatae, sapiente quidem veritatis neque quod earum ipsum repellendus quaerat sunt nihil dicta nam!
Quia deserunt voluptas inventore sequi molestias error voluptatibus veniam totam architecto iste, dolores in beatae neque molestiae, perferendis aperiam quis? Itaque hic deserunt nisi, ea laborum tenetur cumque. Illo, excepturi.
A dignissimos commodi eos possimus suscipit cupiditate beatae mollitia veritatis molestiae voluptates! Aliquid, vero? Culpa nam, odio illum soluta aliquam vero aut aspernatur possimus minima ad. Repellendus similique nulla alias?
Consectetur, possimus? Dolorem modi repellat ipsam inventore. Aut qui nulla voluptatibus hic temporibus facilis nobis repudiandae atque placeat, omnis amet ipsam, consectetur tempore harum. Sapiente voluptatibus dolor doloribus hic dolorum.
Expedita nulla, distinctio mollitia tenetur illum officiis ex illo eligendi consequuntur. Soluta quasi quibusdam earum, sint iste aperiam consectetur dicta iusto eaque dolor! Ratione ea asperiores distinctio molestiae enim animi.
Facilis temporibus facere iusto consequatur ipsam? Eveniet dicta nam vitae praesentium perspiciatis aliquam iste sint ipsam rem dolor soluta beatae mollitia deserunt quasi repellat illum iusto quisquam maiores, quidem deleniti?
Magnam nulla voluptatum nostrum laborum, in consequatur optio ut fuga incidunt adipisci accusantium maxime quia repudiandae voluptate cupiditate itaque placeat. In voluptas exercitationem consectetur dolorem minus dicta at voluptatem aspernatur?
Corrupti minima laboriosam ipsam, quo natus provident itaque quae, saepe, vitae nam quibusdam necessitatibus rem nobis officiis laborum ducimus assumenda culpa voluptatibus repellat est esse obcaecati! Inventore asperiores a excepturi.
Laboriosam cumque repellat minus deleniti ab, vero ipsum maxime ea. Sapiente ducimus libero perspiciatis a molestias, reiciendis, assumenda id asperiores soluta laudantium dicta eligendi. Recusandae dolores quibusdam dolorem omnis odio.
</p>
    </section>
</main>
{% endblock %}
